<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Registration</title>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"
  />
  <style>
      body {
          font-family: Arial, sans-serif;
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
          background-image: url("https://fonoteka.top/uploads/posts/2022-01/1642694225_19-phonoteka-org-p-temnii-fon-dlya-saita-19.jpg");
          background-repeat: repeat;
          background-size: cover;
          background-position: center;
      }
      .container {
          width: 300px;
          padding: 20px;
          background-color: #333;
          border-radius: 8px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      form {
          margin-bottom: 20px;
      }
      .input-container {
          margin-bottom: 10px;
          text-align: center;
      }
      input,
      button {
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
      }
      hr {
          margin: 20px 0;
          border: none;
          border-top: 1px solid #ccc;
      }
      .text-links {
          text-align: center;
          font-size: 14px;
      }
      .text-links a {
          margin-right: 10px;
          color: #007bff;
          text-decoration: none;
      }
      .text-links a:hover {
          text-decoration: underline;
      }
      .btn-github {
          background-color: #333;
          color: #ccc;
          cursor: pointer;
          transition: background-color 0.3s;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
      }
      .btn-github img {
          height: 20px;
          margin-right: 10px;
      }
      .btn-github:hover {
          background-color: #555;
      }
      button[type="submit"] {
          background-color: #007bff;
          color: #fff;
      }
      button[type="submit"]:hover {
          background-color: #0056b3;
      }
  </style>
</head>
<body>
<div class="container">
  <form action="/api/register" method="post">
    <h2 style="color: #ccc; text-align: center">Registration</h2>
    <a href="/auth/github"><button class="btn-github" type="button">
      <img
        src="https://avatars.mds.yandex.net/i?id=25263504eb2025f4548ba4ac07fb987af35a614c-12491243-images-thumbs&n=13"
        alt="GitHub Logo"
      />
      via GitHub
      </button></a>
    <hr />
    <div class="input-container">
      <input
        type="username"
        name="username"
        placeholder="Username"
        required
      />
    </div>
    <div class="input-container">
      <input type="email" name="email" placeholder="Email" required />
    </div>
    <div class="input-container">
      <input
        type="password"
        name="password"
        placeholder="Password"
        required
      />
    </div>
    <div class="input-container">
      <input
        type="tel"
        id="phone"
        name="phone"
        placeholder="Phone number"
        required
      />
    </div>
    <button type="submit">Register</button>
  </form>
  <div class="text-links">
    <a href="/api/login">Sign in</a>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js"></script>
<script>
  var input = document.querySelector("#phone");
  window.intlTelInput(input, {
    initialCountry: "kz",
    separateDialCode: false,
    formatOnInit: true,
  });
</script>
</body>
</html>
